/*
RESET CSS
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin:0;
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET END HERE*/

button{
    cursor:pointer;
}

input[type="radio"]{
    cursor:pointer;
}

html{
    font-family: roboto, sans-serif;
    background-color: #8ecae6;
}
main{
    text-align: center;
    /* display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    border : 4px solid #003049;
    border-radius: 15px;
    margin:1.1vh;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:40vh;
    width:60%;
    background-color: #FAFAFF;
    border: 2px solid black;
    border-radius: 15px;
}
h1, h2,h3,h4, h5,h6{
    color: #003049;
    margin : 20px auto;
    font-weight:800;
}

#init{
    height: 95vh;
    width: 80%;
    margin-left: 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sbmt{
    font-size: 16px;
    font-weight: 500;
    transition: ease-in-out 400ms;
    border:none;
}

#sbmt:hover{
    transform: scale(1.03);
    /* translateY : 10px; */
    background-color: #669bbc;
    color:#003049;
}


.temp{
    text-align:center;
    display:inline-block;
}


div{
    display : inline-block;
    padding : 5px;
}

#container{
    background-color: #8ecae6;
}

button{
    background-color: #023047;
    color: #ffffff;
    /* border : 2px solid #fff; */
    border-radius: 10px;
    padding : 0.5em 1.2em;
    width : 120px;
}

.container{
    margin-top: 8vh;
    display: flex;
    width: 100%;
    height: 100vh;
}

.seven{
    width: 70%;
    display:flex;
    justify-content: center;
}
.three{
    width:30%;
    background-color: #d1dbde81;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:40vh;
    border: 2px solid black;
    border-radius: 15px;
}

#navbar{
    height:7vh;
    position:sticky;
    top:0px;
    padding: 0px;
    background-color:#FAFAFF;
    box-shadow: 0 7px 10px black;
}
.navcontainer{
    width:100%;
    height:100%;
    padding:0;
    display: flex;
    align-items: center;
}

.nav30{
    width:30%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav40{
    width:40%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit{
    height:90%;
    font-size: 120%;
    margin:0px 10px;
    background-color:#FAFAFF;
    color: #003049;
    font-weight: 700;
    border: 3px solid #003049;
    transition: 200ms;
}
#submit:hover{
    background-color: #003049;
    color: #FAFAFF;
}

#more{
    font-size: 1.25em;
    font-weight: 500;
}

#quit{
    display: flex;
    justify-content: center;
    align-items: center;
    height:95%;
    width: 25%;
    transition: 200ms;
    border: 3px solid #003049;
    background-color: #003049;
    color: #FAFAFF;
    font-size: 1.2em;
    margin-left: 5px;
}

#quit:hover{
    background-color:#FAFAFF;
    color: #003049;
}

#pause{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    font-size: 1.2em;
    padding:0;
}

#screen{
    width: 35%;
    height: 5.6vh;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
}

.textstyle{
    width: 40%;
    height:5.6vh;
    background-color: #FAFAFF;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    top:0;
    left:30%;
    text-align: center;
    transition: 500ms;
}

#displayTime{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Timer{
    background-color: #FAFAFF;
    font-size: 1.5em;
    font-weight: 500;
}

.textstyle:hover{
    transform:translateY(-7vh);
}

.Life{
    padding:0;
}

#info{
    display: flex;
    align-items: center;
}

#attempts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5.6vh;
    /* background-color: blue; */
}

#cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    top:0px;
    left:0px;
    background-color: rgba(0,0,0,0.8);
}

#card{
    background-color: white;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px black;
    padding: 2em;
    position: relative;
}

#retry{
    width:auto;
    font-size: 1.8em;
    border: 3px solid #003049;
    transition: 400ms;
    margin-top: 1em;
}

#retry:hover{
    background-color: #FAFAFF;
    color:#003049;
    transform: translateY(-5px);
    box-shadow: 0 8px 5px #003049;
}

#gameStatus{
    font-size: 2em;
    margin: 10px;
}

#closeButton{
    background-color: transparent;
    font-size: 30px;
    color:black;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: auto;
    position:absolute;
    top:15px;
    right:20px;
}

#closeButton:hover{
    color:rgba(255, 0, 0, 0.784);
}

